
<div class="container">
  <div class="row m-5 pl-5">
    <h3 class="bg-light">商品一覧</h3>
    <div class="col">
      <div class="float-right">
        <%= link_to "新規商品登録", new_admin_item_path, class: "btn btn-danger btn-lg" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th><%= "商品ID" %></th>
            <th><%= "商品名" %></th>
            <th></th>
            <th><%= "税抜価格" %></th>
            <th><%= "ジャンル" %></th>
            <th></th>
            <th><%= "ステータス" %></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name,admin_item_path(item.id) %></td>
              <td></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <td></td>
              <td><%= item.is_active %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="mx-auto">
    <%= paginate @items %>
  </div>
</div>


