<div class="container px-5 px-sm-0">
  <div class="row m-5 pl-5">
    <h3 class="bg-light">配送先登録/一覧</h3>
  </div>
  <div class="row">
    <div class="col-sm-"><!--配送先新規登録フォーム-->
      <table class="table">
        <%= form_with model:@addre, local:true do |f| %>
        <tr>
          <th>郵便番号（ハイフンなし）</th>
          <td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= f.text_field :name %>
            <%= f.submit '新規登録', class: 'btn btn-success' %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-5"><!--配送先一覧-->
    <div class="col ">
      <table class="table">
        <thead>
          <tr>
            <th>
              郵便番号
            </th>
            <th>
              住所
            </th>
            <th>
              宛名
            </th>
            <th></th>
          </tr>
        </thead>
        <% @addres.each do |addre| %>
          <tbody>
            <tr>
              <td>
                <%= addre.postal_code %>
              </td>
              <td>
                <%= addre.address %>
              </td>
              <td>
                <%= addre.name %>
              </td>
              <td>
                <%= link_to "編集する", edit_addre_path(addre.id), class: 'btn btn-success'%>
                <%= link_to "削除する", addre_path(addre.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </dv>
</div>