<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h1>注文情報確認</h1>
      <table class=“table”, display: block>
        <thead>
          <%= form_with model: @oder, url: oders_path, local:true do |f| %>
          <tr>
            <th>
              商品名
            </th>
            <th>
              単価（税込）
            </th>
            <th>
              数量
            </th>
            <th>
              小計
            </th>
          </tr>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <th>
              <%= attachment_image_tag cart_item.item, :image, :fill, 150, 150, format: 'jpeg' %>
              <%= cart_item.item.name %>
            </th>
            <th>
              <%= cart_item.item.price %>円
            </th>
            <th>
              <%= cart_item.amount %>
            </th>
            <th>
              <%= cart_item.amount * cart_item.item.price * 1.1 %>
            </th>
          </tr>
        </thead>
          <% end %>
      </table>
<table class=“table”, display: block>
        <!--初期値-->
        <% @sum = 0 %>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <th>
              送料
            </th>
            <th>

            </th>
          </tr>


          <tr>
           <td>#価格
             <%= cart_item.item.price %>
           </td>
           <td>#個数
             <%= cart_item.amount %>
           </td>
           <td>#小計
               <%= cart_item.item.price * cart_item.amount %>
           </td>
           <td>#初期値に小計を足し算し、更新する
           <% @sum += cart_item.item.price * cart_item.amount %>
           </td>
          </tr>
          <% end %>
          #合計金額
         <%= @sum %>円
        <thead>
          <tr>
            <th>


              送料
            </th>
            <th>
              <%= @oder.shipping = 800 %>
            </th>
          </tr>
          <tr>
            <th>
              商品合計
            </th>
            <th>
              <%= @sum %>
            </th>
          </tr>
          <tr>
            <th>
              御請求額
            </th>
            <th>
              <%= @oder.shipping + @sum %>
            </th>
          </tr>
        </thead>
      </table>
      <h2>支払い方法</h2>
      <%= @oder.billing_amount %>

      <h2>お届け先</h2>
      <%= @oder.delivery_postal %>
      <%= @oder.postal_address %>
      <%= @oder.delivery_name %>

      <%= f.hidden_field :delivery_postal, :value => @oder.delivery_postal %>
      <%= f.hidden_field :postal_address, :value => @oder.postal_address %>
      <%= f.hidden_field :delivery_name, :value => @oder.delivery_name %>
      <%= f.hidden_field :billing_amount, :value => @oder.billing_amount %>
      <%= f.hidden_field :payment, :value => (@oder.shipping + @sum) %>
      <%= f.hidden_field :shipping, :value => @oder.shipping  %>

      <%= f.submit '注文を確定させる' %>
      <% end %>
    </div>
  </div>
</div>